a{
	text-decoration: none !important;
}
code {
	font-family: Consolas !important;
}
@font-face {
 font-family: SiYuan;
 src: "../font/SiYuan.ttf";
}

html,
body {
	scroll-behavior: smooth;
}

body {
	padding-bottom: 200px;
}

.link::before {
	background-color: #FF5722 !important;
	color: #FF5722 !important;
}

.mdui-appbar a {
	color: white !important;
	font-family: yahei;
}

#share-center {
	position: relative;
	top : -60px;
	text-align: center;
    color: white;

}

#share-center a {
    transform: scale(1.2, 1.2);
}

#banner {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	top: 0;
}

#banner-img {
	width: 100%;
	height: auto;
	z-index: -1;
}

#banner-title {
	width: auto;
	height: 0;
	overflow: visible;
	margin: 0 auto;
	position: relative;
	top: 40%;
	text-align: center;
}


#banner-title span{
	font-size: 350%;
	font-weight: auto;
	font-family: 'MV Boli';
}

#address {
	height: 500px;
	overflow: hidden;
}

#about{
}

#main{
}

.article {
	height: auto;
	width: 70%;
	max-width: 900px;
	margin: auto auto;
}

.article h1 {
	font-size: 300% !important;
	font-weight: 300 !important;
	text-align: center;
}

.article b {
	font-size: 180%;
	font-weight: 400 !important;
	font-family: 'MV Boli';
}

.article p {
	font-size: 130%;
	color: #59768e;
	line-height: 1.5;
	font-weight: 350 !important;
	text-indent: 3%;
	font-family: 'MV Boli';
}

.article a {
	color: #29465e;
	text-decoration: none;
	transition: 0.25s; 
}

.article a:hover{
	color: #1b7fbd;
}

.orange p{
	color:;
}

.orange a {
	color: #29465e;
	text-decoration: none;
	transition: 0.25s; 
}

.orange a:hover{
	color: #1b7fbd;
}

.share-btn-item {
	background: rgba(255,255,255,1);
	color: orange;
	transition: 0.25s;
}

.share-btn-item:hover {
	background: orange;
	color: white !important;
}

.article_aside{
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 0px 3px 3px #DDDDDD;
	border-radius: 15px;
	vertical-align: middle;
	width: 75%;
	max-width: 800px;
	height: 7.5cm;
	text-align: left;
	overflow: hidden;
	transition: all 0.2s;
	margin: 0 auto;
}

.article_aside:hover{
	box-shadow: 0px 0px 6px 6px #DDDDDD;
}

.aside_right{
	float:right;
	height:100%;
	width:55%;
	overflow: hidden;
}
.aside_left{
	float:left;
	height:100%;
	width:55%;
	overflow: hidden;
}
.aside_artical_right{
	height:450px;
	width:45%;
	float: right;
	position: relative;
	top: 5%;
	left: 5%;
}
.aside_artical_left{
	height:auto;
	width:45%;
	float: left;
	position: relative;
	top: 5%;
	left: 5%;
}

.article_aside h1 {
	font-size: 200% !important;
	font-weight: 400 !important;
	line-height: 0.8;
}

.article_aside b {
	font-size: 150%;
	font-weight: 400 !important;
	font-family: 'MV Boli';
}

.article_aside p {
	font-size: 130%;
	color: #59768e;
	line-height: 1;
	font-weight: 350 !important;
	text-indent: 3%;
	font-family: 'MV Boli';
}

.article_aside a {
	color: #29465e;
	text-decoration: none;
	transition: 0.25s; 
}

.picture{
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}
.picture:hover{ 
	-webkit-transform: scale(1.1);
}

.small-button {
    background-color: blue;
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-size: 70%;
    display: inline;
    font-weight: normal;
    float: right;
}

.small-button:hover {
    background-color: blueviolet;
    transition: 0.3s;
}

#hitokoto {
	height: auto;
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.link_aside{
	height:100px;
	width: 30%;
	box-shadow: 0px 0px 3px 3px #DDDDDD;
	border-radius: 10px;
	margin: 0 auto;
	transition: 0.3s;
}

.link_aside:hover{
	box-shadow: 0px 0px 6px 6px #DDDDDD;
}

.link_aside h1 {
	size:150% !important;
	font-family: 'MV Boli' !important;
	color: #29465e;
}

.link_aside p {
	font-family: 'MV Boli' !important;
	color: #59768e;
}

.link_aside img {
	height: 90px !important;
	width:90px !important;
	border-radius: 100% !important;
	top: 5px!important;
	left:5px !important;
	position: relative;
}

.link_left {
	height: 100px;
	width: 75px;
	float: left;
	position: relative;
}
.link_right {
	height: 100px;
	width: 70%;
	float: right !important;
	position: relative;
	top: -15px;
}

#main_article{
	width: 50%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0px 0px 10px 0px #FAfafa;
	min-width: 700px;
	max-width: 1000px;
}

#main_article p{
	font-size: 120%;
	color: #555555;
	line-height: 1.6;
	position: relative;
	left: 1.5cm;
	z-index: -1;
}

#main_article b{
	color: #444444;
	z-index: -1;
}

#main_article h2{
	font-size: 200%;
	font-weight: 400 !important;
	color: #333333;
	font-family: 'MV boli';
	z-index: -1;
}

#main_article h3{
	font-size: 150%;
	color: #444444;
	font-weight: 450;
	text-indent: 0.5cm;
	z-index: -1;
}

#main_article h4{
	color: #505050;
	font-weight: 600;
	font-size: 130%;
	text-indent: 1cm;
	z-index: -1;
}

#main_article h6{
	color: #FF0000;
	font-weight: 200;
	font-size: 250%;
	margin: 0 auto !important;
	line-height: 1.4;
	z-index: -1;
}

.copy-button{
	background: #2d2d2d;
	font-family: 'MV boli' !important;
	border: none;
	color: black !important;
	float: right;
	font-size: 180%;
	color:#f99157 !important;
	border-radius: 15px;
	position: relative;
	right: 25px;
	top: 25px;
	transition: 0.8s;
}


.hljs{display:block;overflow-x:auto;padding:.5em;color:#383a42;background:#2d2d2d;transition: 0.8s;z-index: 1000;
	}
.hljs:hover{
	transform: scale(1.5);
	border-radius: 30px;
	box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
	word-wrap:break-word !important;
    word-break:break-all !important;
}
.hljs-comment,.hljs-quote{color:#999999}
.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion{color:#f2777a}
.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link{color:#f99157}
.hljs-attribute{color:#ffcc66}.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition{color:#99cc99}
.hljs-title,.hljs-section{color:#6699cc}
.hljs-keyword,.hljs-selector-tag{color:#cc99cc}
.hljs{display:block;overflow-x:auto;background:#2d2d2d;color:#cccccc;padding:.5em}
.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}